
.App{
    width: 100%;
    min-height: 100vh;
    padding: 15% 0;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    .role, .choose-dice{
        display: flex;
        background-color: #fff;
    }
    .role{
        width: 50%;
        height: 30px;
        margin: 0 auto 10px;
        border-radius: 3px;
        position: relative;
        .btn-reduce{
            width: 30px;
            height: 30px;
            min-width: auto;
            padding: 0;
            background-color: #ffffff00;
            position: absolute;
            right: -50px;
        }
    }
}